body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0px 166px;
}
.header{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header__line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__item{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-right: 25px;
    transition: color 0.3s linear;

}
.nav__item:hover{
    color: red;
}
.cart{
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}
.cart__img{
    position: absolute;
    right: 20px;
    top: 18px;
    width: 18px;
}
.num{
    margin-left: 10px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}
.num:hover{
    color: red;
}
.phone__text{
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.phone__holder{
    display: flex;
    align-items: center;
}

.btn__item{
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 45px;
    font-weight: 700;
    transition: background-color 0.3s linear;
}
.btn__item:hover{
    background-color: #984602;
}
.header__down{
    position: relative;
}
.header__title{
    font-family: 'Tinos', serif;
    color: #D67E35;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 70px;
    margin-top: 220px;

}
.header__subtitle{
    font-size: 80px;
}
.header__title__down{
    color:#FFFFFF;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;

}
.header__title__down::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 172px;
    left: 40px;
}
.header__title__down::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 172px;
    left: 360px;
}
.header__btn__item{
    color: #fff;
    background-color: #FF7400;
    text-decoration: none;
    font-size: 14px;
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s linear;
}
.header__btn__item:hover{
    background-color: #984602;
}
.card__holder{
    display: flex;
    justify-content: center;
}
.card{
    /* background-color:aliceblue; */
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -60px;
    padding: 15px 10px;
}

.card__item{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.card__title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}
.card__title span{
    color: #BC9060;
}
.card__desc{
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}
.history{
    margin-top: 166px;
    padding-bottom: 250px;
}
.history__title{
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    width: 444px;
    margin-bottom: 21px;
}
.history__title span{
    color:#D67E34;
}
.history__desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #656363;
    text-align: center;
    width: 444px;
}
.history__numbers{
    display: flex;
    justify-content: center;
    width: 444px;
}
.history__numbers__item{
    text-align: center;
    margin-right: 60px;
    margin-top: 39px;
    font-family: 'Open Sans', sans-serif;
    color: #BC9060;
    font-weight: 400;
    font-size: 40px;
}
.history__numbers__item span{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.history__holder{
    display: flex;
    justify-content: space-between;
}
.history__imgs{
    position: relative;
}
.history__img1{
    position: absolute;
    z-index: 10;
    top: 20px;
    left: -400px;
}
.history__img2{
    position: absolute;
    z-index: 20;
    top: 4px;
    left: -225px;
    box-shadow: 10px 10px 40px 20px #0000001A;

}
.history__img3{
    position: absolute;
    z-index: 30;
    top: 195px;
    left: -62px;
    box-shadow: 10px 10px 40px 20px #0000001A;

}
.history__img4{
    margin-top: 50px;
    box-shadow: 10px 10px 40px 20px #0000001A;

}
.black__block{
    background-image:url(img/bg2.jpg);
    padding: 80px 0;
}
.left__title{
    color: #D67E34;
    font-size: 52px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    /* padding-top: 80px; */
    margin-bottom: 20px;
}
.left__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:#fff
}
.right__btn{
    font-family: 'Open Sans', sans-serif;
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 45px;
    font-weight: 700;
    transition: background-color 0.3s linear;
}
.block__holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes__title{
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 142px;
}
.dishes__title span{
    color: #D67E34;
}
.burgers{
    display: flex;
    justify-content: center;
    
}
.burgers__pizza{
    margin-right: 29px;
}
.burgers__item{
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.burger__text{
    margin-left: 25px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}
.pizza{
    background-color:#00000011;
    box-shadow: 10px 10px 40px 20px #0000001A;
}
.burger{
    box-shadow: 10px 10px 40px 20px #0000001A;

}
.burger__text{
    background-color:#0000001A;     
    box-shadow: 0px 0px 20px 15px #0000001A;
}
.menu{
    background-image: url(img/menu_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 226px;
}
.menu__items{
    display: flex;
    justify-content: center;
}
.menu__title{
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    padding-top: 98px;
    text-align: center;
    padding-bottom: 138px;
}
.menu__item{
    background-color: #fff;
    width: 30%;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
    margin-right: 30px;
    position: relative;
}
.menu__text{
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 17px;

}
.menu__desc{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.menu__btn{ 
    background-color: #D67E34;
    text-decoration: none;
    color: rgb(242, 240, 240);
    padding: 14px 68px;
    box-shadow: 5px 5px 10px 0px #00000040;
}
.menu__button{
    margin-top: 25px;
}
.menu__image{
    position: relative;
}
.menu__price{
    position: absolute;
    bottom: 0;
    right: 48px;
}
.price__420{
    position: absolute;
    bottom: 35px;
    right: 74px;
    font-family: 'Cookie', cursive;
    color: #fff;
    font-size: 30px;
}
.recommended{
    background-color: #D67E34;
    position: absolute;
    top: 0;
    left: 0;
}
.recommended__text{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    padding: 11px 12px ;
}
.commentary{
    background-color: #E5E5E5;
    text-align: center;
    padding-bottom: 139px; 
    padding-top: 104px;
   
}
.commentary__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.commentary__img{
    border-radius: 50%;
}
.author{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 17px;
}
.author__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;  
    padding-top: 9px;
    padding-bottom: 23px;
}
.ellipse__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ellipse{
    margin-right: 2px;
    display: flex;
    align-items: center;
    width: 9px;
}
.ellipse img:hover{
    outline:1px solid #FF7400;
    border-radius: 50%;
}
.ellipse2{
    width: 13px;
}
.gallery{
    text-align: center;
}
.gallery__title{
    font-family: 'Tinos', serif;
    font-size: 54px;
    padding-top: 101px;
    margin-bottom: 59px;
}
.gallery__title span{
    color: #D67E34;
}
.gallery__photo{
    display: flex;
    justify-content: center;
}
.gallery__photo__left{
    margin-right: 25px;
}
.gallery__photo__up, 
.gallery__photo__down{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.gallery__photo__up img, 
.gallery__photo__down img{
    box-shadow: 5px 5px 10px 5px #00000040;

}
.cooks__title{
    font-family: 'Tinos', serif;
    font-size: 54px;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 107px;
}
.cooks__title span{
    color:#D67E34;
}
.cooks__photos{
    display: flex;
    justify-content: space-around;
}
.cooks__photos img{
    box-shadow: 5px 5px 10px 5px #00000040;
}
.footer{
    background-color: #000000;
    color: #fff;
    margin-top: 75px;
    padding: 35px 0;
    text-align: center;

}
